.background-img{
    background-image: url(/background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative;
    object-fit: cover;        
    width:1550px;
    height:400px;
    left:0px;
    right:0px;
    top:0px;
    background-image:red,blue;
    }
.circle{
    position:absolute;
    height:80px;
    width:80px;
    border-radius:40px;
    background-color:white;
    top:60px;
    left:750px;
}
.heading{
    font-family: Arial, Helvetica, sans-serif;
    font-size:45px;
    position: absolute;
    top:190px;
    left:380px;
    display:flex;
    justify-content: center;
    color:white;
    font-weight: bolder;
}
.left-corner{
    display: flex;
    position:absolute;
    flex-direction:column;
    top:20px;
    right:20px;
}
.login{
    position:absolute;
    display: flex;
    top:18px;
    color:white;
    font-size: 20px;
    font-weight: 500;
    right:200px;
    cursor: pointer;
}
.account{
    position:absolute;
    top:12px;
    color:white;
    font-size: 18px;
    font-weight: 500;
    right:10px;    
    border-color: white;
    border-width: 1px; 
    border-style: ridge;
    padding-left:9px;
    padding-right:9px;
    padding-top: 6px;
    padding-bottom: 7px;
    cursor: pointer;
}
.searches{
    position: absolute;
    top:290px;
    left:550px;
}
.location-search{
    padding: 8,9,8,9;
    width:200px;
    height:25px;
    border:none;
    margin-right: 10px;
}
.search{
    padding: 8,9,8,9;
    width:350px;
    height:25px;
    border:none;
}
.quick{
    font-family:Arial, Helvetica, sans-serif;    
    color:rgb(9, 9, 97);
    font-style: normal;
    font-weight: bolder;
     margin-top:60px;
    margin-left:80px;
    font-stretch:ultra-expanded;
}
.discover{
    font-size: 20px; 
    color:rgb(87, 84, 84)  ;
    font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
    font-stretch: expanded;
    margin-top:10px;
    margin-left:80px;
    margin-bottom: 50px;
 }
 .container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 50px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right:80px;
    padding:50,50,50,50;

}
.inside{
    display:flex;
    flex-direction: row;
    flex:1  100px;
   column-gap:15px;
   row-gap: 50px;
   padding:25,25,25,25;
   box-shadow: 0 0 5px rgb(0, 0, 0, 0.9);
  
}
.image-picture{
width: 200px;
height:180px;
background-color: black,red;
}
.breakfast{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bolder;
    color:rgb(16, 16, 86);
    margin-left: 25px;
} 
.font{
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    color: rgb(122, 118, 118);
    margin-left: 25px;
    
}
